%h1= t('products.title')

%p= link_to t('products.create'), new_product_path

- if current_user.products.any?
  = render 'search'

- if @products.any?
  - if params[:view] == 'grid'
    %p= link_to t('products.table_view'), params.merge(view: 'table')
    = render 'grid', products: @products
  - else
    %p= link_to t('products.grid_view'), params.merge(view: 'grid')
    = render 'table', products: @products
- else
  %p= t('products.no_content')